* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header.main-heading {

    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
    width: 100%;
}

#game-board {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 0px;
    justify-content: center;
    align-items: center;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.cell:hover {
    background-color: #fc3a9e;
}

.game-status {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    width: 100%;
    font-size: 2em;
}

.btn {
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    display: block;

}

.btn:hover {
    transform: scale(1.05);
    transition: all 0.2s ease;
}

.reset-btn {
    background-color: #ff3333;
    color: white;
}